:root {
  --outer-shadow-inset-light: var(--neumorph-shadow-light);
  --outer-shadow-inset-dark: #1e1a1a57;
  --outer-shadow-light: var(--neumorph-shadow-light);
  --outer-shadow-dark: #1e1a1a57;
  --inner-shadow-inset: #1e1a1a;
  --inner-shadow-light: rgba(255, 255, 255, 0.527);
  --inner-shadow-dark: #1e1a1a57;
  --inner-shadow-inset-dark: #1e1a1a9a;
  --shadow-offset-light: -1px;
  --shadow-offset-dark: 1px;
  --outer-shadow-spread: 5px;
  --outer-shadow-inset-spread: 5px;
  --inner-shadow-spread: 8px;
  --inner-shadow-inset-spread: 4px;
}

  /* Circle */
  /* TODO: Fix height and width hack */
  .Pie-Background-OuterCircle {
    border-radius: 100%;
    height: 220px; 
    width: 220px;
    display: flex;
    background: #ffffff;
    box-shadow:  2px 2px 5px  var(--neumorph-shadow-dark),
                -2px -2px 5px var(--neumorph-shadow-light);
  }

  .Pie-Background-Highlight {
    border-radius: 100%;
    background: rgba(0, 255, 255, 0);
    height: auto;
    position: absolute;
    inset: 0px;
    z-index: 10000;
    pointer-events: none;
    box-shadow: var(--shadow-offset-light) var(--shadow-offset-light) var(--outer-shadow-spread) var(--outer-shadow-light),
    var(--shadow-offset-dark) var(--shadow-offset-dark) var(--outer-shadow-spread) var(--outer-shadow-dark),
    inset 0px 0px var(--outer-shadow-inset-spread) var(--outer-shadow-inset-dark)

  }

  .Pie-Background-Highlight-InnerCircle {
    border-radius: 100%;
    background: rgba(33, 223, 27, 0.041);
    height: auto;
    position: absolute;
    inset: 20%;
    pointer-events: none;
    z-index: 10000;
    box-shadow: var(--shadow-offset-light) var(--shadow-offset-light) var(--inner-shadow-spread) var(--inner-shadow-light),
    var(--shadow-offset-dark) var(--shadow-offset-dark) var(--inner-shadow-spread) var(--inner-shadow-dark),
    inset 0px 0px var(--inner-shadow-inset-spread) var(--inner-shadow-inset-dark)
  }
  
  .Pie-Background-InnerCircle {
    border-radius: 100%;
    display: inline-block;
    background: #d1d9e6FF;
  }

  /* Legend */
  .Pie-Legend-Background {
    width: max-content;
    border-radius: 25px;
    background: #ffffff;
    box-shadow:  20px 20px 60px var(--neumorph-shadow-dark),
                -20px -20px 60px var(--neumorph-shadow-light);
  }
  
  .Pie-Legend-Container {
    display: flex;
    flex-direction: row;
    margin: 6px;
  }
  
  .Pie-Legend-Container-Title {
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #eaeaea;
  }
  
  .Pie-Legend-Key {
    margin: auto;
    width: 10px;
    height: 10px;
    flex-grow: 0 !important;
    border-radius: 3px;
    box-shadow:  20px 20px 60px var(--neumorph-shadow-dark),
                -20px -20px 60px var(--neumorph-shadow-light);
  }
  
  .Pie-Legend-Title {
    text-align: start;
    padding-left: 6px;
    flex-grow: 1 !important;
  }