html {
    overflow: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Forces auto width when screen width is less than 780 */
@media only screen and (max-width: 780px) {
  .auto-width-780 {
    width: auto !important;
  }
}

/* Forces auto width and min/max width when screen width is less than 896 */
@media only screen and (max-width: 896px) {
  .auto-width-all-896 {
    width: auto !important;
    min-width: unset !important;
    max-width: unset !important;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.input-output pre {
  background: none !important;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
  height: 98% !important;
  padding: 5px !important;
  margin: 0px !important;
}


/*  */

::-webkit-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
}
:-moz-placeholder {
  font-family: Arial, Helvetica, sans-serif;
}
::-moz-placeholder {
  font-family: Arial, Helvetica, sans-serif;
}
:-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pie-sect {
    filter: drop-shadow(2px 2px 5px  var(--neumorph-shadow-dark)) ;
}