:root {
    --primary-dark: #1e1a1a;
    --primary-light: #e0e0e0;
    --neumorph-shadow-dark: #b5b5b5;
    --neumorph-shadow-light: #fff;
    --neumorph-offset-dark: 7px;
    --neumorph-offset-light: -7px;
    --neumorph-blur: 14px;
    --dark-divider-color: rgba(255,255,255,0.1);
    --light-divider-color: rgba(0, 0, 0, 0.1);
    --nav-item-hover-color: #4497f5;
    --font-dark: #4a4e4e;
    --secondary-font-light: #8e8e8e;
    --success-color: #2fa64d;
    --success-color-darker: #218838;
    --danger-color: #db3447;
    --danger-color-darker: #c52638;
}

/* FORM INPUTS */
input {
    line-height: 32px;
    border-radius: 8px;
    border: solid 1px var(--font-dark);
    padding-left: 10px;
}

input:focus {
    /* outline: 1px solid var(--nav-item-hover-color); */
    outline: none;
    box-shadow: 0 0 1pt 1pt var(--nav-item-hover-color);
}
/* END FORM INPUTS */

#master {
    flex: auto;
    width: 100%;
    display: flex;
}
#content {
    background-color: var(--primary-light);
    flex: auto;
    display: flex;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--nav-item-hover-color);
}

#main-panel {
    flex: auto;
    background-color: var(--primary-light);

    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: auto;

    /* padding: 10px; */
    /* padding-top: 20px; */

    box-shadow: -2px 0px 16px rgb(0, 0, 0, 0.6);
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#nav-panel {
    width: 180px;
    min-width: 180px;
}

#nav {
    height: 100%;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    display: flex;
    flex-direction: column;
}

.nav-section {
    flex: auto;
    width: 100%;
}

.divider {
    border-top: solid 1px var(--dark-divider-color);
}

.divider-dark {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid 1px var(--light-divider-color);
}


.neumorph {
    border-radius: 8px;
    /* background-color: var(--primary-light); */
    background: linear-gradient(145deg, #dadada, #f0f0f0);
    box-shadow: var(--neumorph-offset-dark) var(--neumorph-offset-dark) var(--neumorph-blur) var(--neumorph-shadow-dark), var(--neumorph-offset-light) var(--neumorph-offset-light) var(--neumorph-blur) var(--neumorph-shadow-light);
    padding: 10px;
    /* width: fit-content;
    height: fit-content; */
    color: var(--font-dark);
    margin: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

#nav-img-holder img {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 80px;
}

ul {
    text-align: left;
    font-size: 11pt;
    padding-left: 0px;
}

ul li {
    line-height: 32px;
    list-style-type: none;
    padding-left: 20px;
}

#nav-ul-holder ul li:hover {
    cursor: pointer;
    color: var(--nav-item-hover-color);
}

ul li div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-user-holder {
    cursor: pointer;
}

.flex-row {
    display: flex;
    width: 100%;
    height: fit-content;
}

#breadcrumbs {
    font-size: 11pt;
    color: var(--font-dark);
    text-align: left;
}

#breadcrumbs span:hover {
    color: var(--nav-item-hover-color);
    cursor: pointer;
}

#breadcrumbs span:not(:last-child)::after {
    color: var(--font-dark);
    cursor: auto;
    content: " > ";
    margin-left: 10px;
    margin-right: 10px;
}

#workflows-page {
    flex: auto;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#workflows-page .flex-child {
    flex: auto;
    display: flex;
}

#wf-yaml-tile {
    flex-grow: 1;
}

#workflows-page .flex-child div {
    flex: auto;
}

.chart-tile {
    flex: auto;
    width: 240px;
}

.namespace-selector {
    line-height: 64px;
}

.namespace-selector:hover, .namespace-selector.active {
    cursor: pointer;
    color: white;
    background-color: var(--nav-item-hover-color);
}

#namespace-list {
    overflow: hidden;
    height: 0px;
    display: flex;
    /* color: var(--primary-dark); */
    transition: color 1s linear;
    transition: height 0.3s ease-in-out;

    overflow-y: scroll;
}

#namespaces-ul.active #namespace-list {
    /* color: white; */
    /* transition: color 1s linear; */
    visibility: inherit;
    border-top: solid 1px var(--dark-divider-color);
    height: 150px;
    max-height: 150px;
    overflow-y: auto;
    padding-top: 80px;
    padding-bottom: 10px;
}

#namespace-arrow {
    transition: rotate 0.3s ease-in-out;
}

#namespaces-ul.active #namespace-arrow {
    rotate: 90deg;
}

#namespaces-ul.active .namespace-selector {
    color: white;
    background-color: var(--nav-item-hover-color);
}

#namespace-list ul {
    width: 100%;
}

#namespace-list ul li {
    padding-left: 20px;
}

#namespaces-ul.active #namespace-list ul li:hover {
    cursor: pointer;
    color: var(--nav-item-hover-color);
}

.tile-title {
    font-size: 10pt;
    border-bottom: solid 1px var(--light-divider-color);
    margin-bottom: 10px;
    text-align: left;
    
    /* background-color: var(--primary-light); */
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    height: 17px;
    flex:none;
}

.tile-title svg {
    margin-right: 5px;
}

.event-list-item {
    padding-left: 0px;
    color: var(--secondary-font-light);
    line-height: 24px;
    border-bottom: solid 1px var(--light-divider-color);
}

#events-tile {
    /* max-height: 150px; */
    height: 100%;
    overflow-y: auto;
}

.success, .completed, .complete {
    color: #2fa64d;
}

.failed {
    color: #db3447;
}

.pending {
    color: #ffbf32;   
}

text {
    color: var(--font-dark);
    fill: var(--font-dark);
}

/* ...................... */

.fit-content {
    width: fit-content;
    height: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (max-width: 1604px) {
    .graph-contents {
        flex-direction: row;
        width: 100% !important;
    }
}

.item-0 {
    flex-grow: 1;
    flex-shrink: 0;
    align-self: stretch;
    flex-basis: 0;
}

.valign-wrapper {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.btn {
    border-radius: 4px;
    width: 48px;
    height: 32px;
    display: flex;
    align-tracks: center;
    cursor: pointer;
}

.btn.danger {
    background-color: var(--danger-color);
    /* transition: background-color; */
}
.btn.danger:hover {
    background-color: var(--danger-color-darker);
}

.btn.happy {
    background-color: var(--success-color);
}
.btn.happy:hover{
    background-color: var(--success-color-darker);
}

.no-neumorph:hover {
    box-shadow: none !important;
}

pre {
    font-size: 9pt;
    white-space: pre-wrap;
    word-break: keep-all; 
    overflow-x: clip;
    margin-bottom: 0px;
    color: white;
    margin-top: 0px;
}

.file-form {
    font-size: 11pt;
    border: dashed 2px var(--font-dark);
}

/* Actions */

 /* Dropdown Button */
 .dropbtn {
    background-color: #00000000;
    border: none;
    padding: 10px 18px 10px 18px;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 9999;
  }
  
  .dropdown-content {
    border-radius: 8px;
    border-top-right-radius: 0px;
    position: absolute;
    right: -0px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
    background: linear-gradient(145deg, #dadada, #f0f0f0);
    /* box-shadow: inset 0 0 3px 0.1px rgba(0, 0, 0, 0.055); */
    /* box-shadow: var(--neumorph-offset-dark) var(--neumorph-offset-dark) var(--neumorph-blur) var(--neumorph-shadow-dark),
    var(--neumorph-offset-light) var(--neumorph-offset-light) var(--neumorph-blur) var(--neumorph-shadow-light); */
  }

  .dropdown-content-connector {
    position: absolute;
    right: -0px;
    top: 30px;
    background-color: #ff0000;
    height: 10pt;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    background: linear-gradient(145deg, #dadada, #f0f0f0);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    background: rgba(255, 255, 255, 0);
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}

  .save-button {
    color: white;
    cursor: pointer;
    background-color: #2fa64d;
    width: max-content;
    padding-left: 6px;
    padding-right: 6px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: flex;
    align-items: center;
  }

  .save-button-disable {
    color: white;
    background-color: #acacac;
    width: max-content;
    padding-left: 6px;
    padding-right: 6px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: flex;
    align-items: center;
  }