.react-flow__handle {
    background: transparent !important;
    border: none !important;
}

.test .react-flow__renderer .react-flow__nodes .react-flow__node .normal .react-flow__handle {
    background-color: var(--primary-light) !important;
    border: 1px solid #2396d8 !important;
}

.test .react-flow__renderer .react-flow__nodes .react-flow__node .state .react-flow__handle {
    background-color: var(--primary-light) !important;
    border: 1px solid #2396d8 !important;
}


.react-flow__minimap {
    border-radius: 4px;
    background-color: var(--primary-light);
    box-shadow: var(--neumorph-offset-dark) var(--neumorph-offset-dark) var(--neumorph-blur) var(--neumorph-shadow-dark), var(--neumorph-offset-light) var(--neumorph-offset-light) var(--neumorph-blur) var(--neumorph-shadow-light);
    padding: 10px;
}
.react-flow__edge-path{
    stroke: var(--nav-item-hover-color) !important;
}

.state{
    border-radius: 4px;
    background-color: var(--primary-light);
    box-shadow: var(--neumorph-offset-dark) var(--neumorph-offset-dark) var(--neumorph-blur) var(--neumorph-shadow-dark), var(--neumorph-offset-light) var(--neumorph-offset-light) var(--neumorph-blur) var(--neumorph-shadow-light);
    padding: 6px;
}

.normal {
    height: 30px;
    width: 30px;
    border-radius: 35px;
    background-color: var(--primary-light);
    box-shadow: var(--neumorph-offset-dark) var(--neumorph-offset-dark) var(--neumorph-blur) var(--neumorph-shadow-dark), var(--neumorph-offset-light) var(--neumorph-offset-light) var(--neumorph-blur) var(--neumorph-shadow-light);
    padding: 6px;
    display: grid;
    place-items: center;
}

.normal .start {
    border-radius: 30px;
    background: rgba(115,204,118,1);
    height: 30px;
    width: 30px;
}

.normal .end {
    background: rgb(204,115,115);
    border-radius: 30px;
    height: 30px;
    width: 30px;
}

.state h1 {
    margin: 0;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.state p {
    margin: 0;
    font-size: 12px;
}


