/* .monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input{
    background-color: var(--primary-light) !important;
}

.monaco-editor .margin {
   background-color: var(--primary-light) !important;
} */

.CodeMirror {
    /* background: transparent !important; */
    text-align: left !important;
    font-size: 16px;
    word-break: break-word;
    height: 100% !important;
    max-height:100% !important;
}

.CodeMirror-gutters {
    background: transparent !important;
}

.cm-atom{
    color: #0a08acdc !important;
}

.cm-string{
    color: #5fa052 !important;
}

.react-codemirror2 {
    height: 100% !important
}