body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ReactModal__Overlay {
    z-index: 30 !important;
}

/* API Interactions CSS */
.api-item {
  margin-top: 10px
}

.api-title {
  padding: 5px;
}

.api-title.POST{
  border: 1px solid #49cc90;
  background: rgba(73,204,144,.1);
}

.api-title.DELETE{
  background: rgba(249,62,62,.1);
  border: 1px solid #f93e3e;
}

.api-title.PUT{
  background: rgba(252,161,48,.1);
  border: 1px solid #fca130;
}

.api-title.GET{
  border: 1px solid #61affe;
  background: rgba(97,175,254,.1);
}


.api-btn {
  padding: 5px;
  margin-right: 3px;
  color: white;
  border-radius: 5px;
}
.api-btn.PUT{
  background: #fca130;
}

.api-btn.GET{
  background: #61affe
}

.api-btn.POST{
  background: #49cc90

}
.api-btn.DELETE{
  background: #f93e3e;
}

.api-title:hover{
  cursor: pointer;
}

.api-desc {
  background: black;
  padding: 5px;
  text-align: left;
}
.api-desc.hide {
  display:none;
}

.ReactModal__Modal {
  z-index: 10;
}

.ReactModal__Content {
  background: linear-gradient(145deg, #dadada, #f0f0f0) !important;
  overflow: auto !important;
  top                   : 50% !important;
  left                  : 50% !important;
  right                 : auto !important;
  bottom                : auto !important;
  margin-right           :-50% !important;
  transform             : translate(-50%, -50%) !important;
  width: 800px !important;
  height: 600px !important;
  
}

.ReactModal__Overlay {
  z-index: 10;
  background: rgba(0,0,0,0.9) !important;
}